body {
    margin: 0;
    padding: 0;
    background-color: var(--color7);
    font-family: 'Times New Roman', Times, serif
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table {
    background-color: var(--color2);
    border: var(--color4) solid 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.home-section{
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.home-section > * {
    background-color: var(--color2);
    border-radius: 75px;
    padding: 1.5%;
    border: var(--color4) solid 10px;

    text-align: center;
}

#content > main > div > section > article:nth-child(1) > img {
    width: 200px;
    border-radius: 65px;
    border: var(--color6) solid 3px;
;
}

#content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    
}

#content main {
    flex-grow: 1;
    width: 100%;
}

:root {
    --color1: #384a4a; 
    --color2: #c9d087;
    --color3: #FFF5B2;
    --color4: #82844D;
    --color5: #DEE18B;
    --color6: #080a0a; 
    --color7: #ebecd0;

}

.header {
    font-size: 24px;
}
.centerFlex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.testDiv {
    padding: 250px;
    background-color: green;
}


.nav-bar { 
    background-color: var(--color1);
    padding: 10px;
    gap: 45px;
}

.nav-btn { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color2);
    padding: 15px;
    border-radius: 15px
}

.nav-btn:hover {
    transform: scale(1.05);
}

.nav-bar >  {
    flex-grow: 1;
}

.footer {
    gap: 100px;
    padding: 15px;
    background-color: var(--color1);
}

#content > main > div > section > article:nth-child(3) {
    margin-bottom: 20px;
}